<!-- <table class="table">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Viewer</th>
        <th>Producer</th>
    </tr>
    <tr *ngFor="let product of products;let ind = index">
        <td>{{ind + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>
            <img src="{{product.image}}" alt="" style="width: 100px;height: 100px;">
        </td>
        <td>{{product.viewer}}</td>
        <td>{{product.producer}}</td>
    </tr>
</table> -->
