<div class="container">
    <div class="col col-lg-7">
        <table class="table">
            <thead>
              <tr class="table-info">
                <th scope="col">Name Pipe</th>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>use custome pipe:</td>
                    <td>{{ text }}</td>
                    <td>{{ text | sliceString }}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
